wikipedia
transformers
spacy_universal_sentence_encoder
streamlit
en_core_web_lg @https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0.tar.gz
flatten_json
